

 h1 
{font-family: Verdana, Arial, sans-serif jost ; 
    color: white; 
    background-color: #696cff; }
body{
    border-style: solid;
    border-radius: 10px;
    border-color: #696cff;
} 
h2{
color: #696cff; 
margin-left: 40px; }

h1.clicked {
    color : #337bee;
    background-color: lightgray;}

    .kzi{text-align: center; color: yellow ;
        background-color:black;}

.bottomlink {color: yellow ; background-color: blanchedalmond; text-align: center }

.tabl{color: blue ;  text-align: center ; }